$font-stack: Inter, Arial, Helvetica, sans-serif;
$color-primary: #191A15;

body {

    font-family:  $font-stack;
    line-height: 1.6;
}

h1 {
    color: $color-primary;
} 

li .list {
    svg {
        margin-bottom: 2rem;
    }
    p {
        margin-bottom: 2rem;
        color: $color-primary;
    }
}